.elementor-121 .elementor-element.elementor-element-e48fbff:not(.elementor-motion-effects-element-type-background), .elementor-121 .elementor-element.elementor-element-e48fbff > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-121 .elementor-element.elementor-element-e48fbff {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 8px 0px 8px 0px;
    z-index: 2;
}

.elementor-121 .elementor-element.elementor-element-e48fbff > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-121 .elementor-element.elementor-element-f03ea89 {
    text-align: center;
}

.elementor-121 .elementor-element.elementor-element-f03ea89 .elementor-heading-title {
    color: var(--e-global-color-2b8f97b);
    font-family: var(--e-global-typography-ef9ae16-font-family), Sans-serif;
    font-size: var(--e-global-typography-ef9ae16-font-size);
    font-weight: var(--e-global-typography-ef9ae16-font-weight);
    text-transform: var(--e-global-typography-ef9ae16-text-transform);
    font-style: var(--e-global-typography-ef9ae16-font-style);
    line-height: var(--e-global-typography-ef9ae16-line-height);
    letter-spacing: var(--e-global-typography-ef9ae16-letter-spacing);
    word-spacing: var(--e-global-typography-ef9ae16-word-spacing);
}

.elementor-121 .elementor-element.elementor-element-a773a9f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-121 .elementor-element.elementor-element-a773a9f {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--e-global-color-4bb4339);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -80px;
    z-index: 5;
}

.elementor-121 .elementor-element.elementor-element-a773a9f > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-121 .elementor-element.elementor-element-c99de0f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-121 .elementor-element.elementor-element-d8368da > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var(--e-global-color-4bb4339);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-121 .elementor-element.elementor-element-d8368da > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-121 .elementor-element.elementor-element-8f9a7e9 {
    text-align: left;
}

.elementor-121 .elementor-element.elementor-element-8f9a7e9 img {
    max-width: 150px;
}

.elementor-121 .elementor-element.elementor-element-5194e48 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: var(--e-global-color-4bb4339);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 48px 0px 0px;
}

.elementor-121 .elementor-element.elementor-element-5194e48 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-menu-toggle {
    margin-right: auto;
    background-color: var(--e-global-color-6f211bd);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    font-style: var(--e-global-typography-accent-font-style);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-3668b9e);
    fill: var(--e-global-color-3668b9e);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item:hover,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-primary);
}

.elementor-121 .elementor-element.elementor-element-850287e {
    --e-nav-menu-horizontal-menu-item-margin: calc(48px / 2);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 48px;
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a, .elementor-121 .elementor-element.elementor-element-850287e .elementor-menu-toggle {
    color: var(--e-global-color-text);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-accent);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a:hover,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a.highlighted,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-menu-toggle:hover {
    color: var(--e-global-color-accent);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a:hover,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-primary);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-primary);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-item, .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    font-style: var(--e-global-typography-accent-font-style);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.elementor-121 .elementor-element.elementor-element-850287e div.elementor-menu-toggle {
    color: var(--e-global-color-3668b9e);
}

.elementor-121 .elementor-element.elementor-element-850287e div.elementor-menu-toggle svg {
    fill: var(--e-global-color-3668b9e);
}

.elementor-121 .elementor-element.elementor-element-850287e div.elementor-menu-toggle:hover {
    color: var(--e-global-color-3668b9e);
}

.elementor-121 .elementor-element.elementor-element-850287e div.elementor-menu-toggle:hover svg {
    fill: var(--e-global-color-3668b9e);
}

.elementor-121 .elementor-element.elementor-element-850287e .elementor-menu-toggle:hover {
    background-color: var(--e-global-color-6f211bd);
}

.elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    font-style: var(--e-global-typography-accent-font-style);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    fill: var(--e-global-color-3668b9e);
    color: var(--e-global-color-3668b9e);
    background-color: var(--e-global-color-6f211bd);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-4bb4339);
    padding: 10px 16px 10px 16px;
}

.elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button:hover, .elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button:focus {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-primary);
}

.elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button:hover svg, .elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button:focus svg {
    fill: var(--e-global-color-accent);
}

@media (max-width: 1024px) {
    .elementor-121 .elementor-element.elementor-element-f03ea89 .elementor-heading-title {
        font-size: var(--e-global-typography-ef9ae16-font-size);
        line-height: var(--e-global-typography-ef9ae16-line-height);
        letter-spacing: var(--e-global-typography-ef9ae16-letter-spacing);
        word-spacing: var(--e-global-typography-ef9ae16-word-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-a773a9f {
        padding: 0px 32px 0px 32px;
    }

    .elementor-121 .elementor-element.elementor-element-d8368da > .elementor-element-populated {
        border-width: 0px 1px 0px 1px;
        padding: 20px 0px 20px 20px;
    }

    .elementor-121 .elementor-element.elementor-element-5194e48 > .elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-item, .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-850287e {
        --nav-menu-icon-size: 30px;
    }

    .elementor-121 .elementor-element.elementor-element-850287e .elementor-menu-toggle {
        border-radius: 100px;
    }

    .elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }
}

@media (max-width: 767px) {
    .elementor-121 .elementor-element.elementor-element-e48fbff {
        padding: 8px 8px 8px 8px;
    }

    .elementor-121 .elementor-element.elementor-element-f03ea89 .elementor-heading-title {
        font-size: var(--e-global-typography-ef9ae16-font-size);
        line-height: var(--e-global-typography-ef9ae16-line-height);
        letter-spacing: var(--e-global-typography-ef9ae16-letter-spacing);
        word-spacing: var(--e-global-typography-ef9ae16-word-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-a773a9f {
        padding: 16px 16px 16px 16px;
    }

    .elementor-121 .elementor-element.elementor-element-c4b07b2 {
        width: 59%;
    }

    .elementor-121 .elementor-element.elementor-element-d8368da {
        width: 82%;
    }

    .elementor-121 .elementor-element.elementor-element-d8368da > .elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding: 0px 0px 0px 12px;
    }

    .elementor-121 .elementor-element.elementor-element-8f9a7e9 img {
        max-width: 110px;
    }

    .elementor-121 .elementor-element.elementor-element-5194e48 {
        width: 18%;
    }

    .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-item, .elementor-121 .elementor-element.elementor-element-850287e .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-accent-font-size);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-121 .elementor-element.elementor-element-850287e {
        --nav-menu-icon-size: 22px;
    }

    .elementor-121 .elementor-element.elementor-element-28d74a6 {
        width: 41%;
    }

    .elementor-121 .elementor-element.elementor-element-f2fa7eb .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
        padding: 8px 8px 8px 8px;
    }
}

@media (min-width: 768px) {
    .elementor-121 .elementor-element.elementor-element-c4b07b2 {
        width: 81.981%;
    }

    .elementor-121 .elementor-element.elementor-element-d8368da {
        width: 20%;
    }

    .elementor-121 .elementor-element.elementor-element-5194e48 {
        width: 80%;
    }

    .elementor-121 .elementor-element.elementor-element-28d74a6 {
        width: 17.975%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-121 .elementor-element.elementor-element-c4b07b2 {
        width: 75%;
    }

    .elementor-121 .elementor-element.elementor-element-d8368da {
        width: 87%;
    }

    .elementor-121 .elementor-element.elementor-element-5194e48 {
        width: 13%;
    }

    .elementor-121 .elementor-element.elementor-element-28d74a6 {
        width: 25%;
    }
}